<h2>My Restaurants</h2>

<div>
    <label>Rest name:
      <input #restName />
    </label>
    <!-- (click) passes input value to add() and then clears the input
    <button (click)="add(restName.value); restName.value=''; ">
      add
    </button> -->

    <button (click)="getRestsFromDB();">
      Get Restaurants
    </button>
</div>

<ul class="rests">
  <li *ngFor="let rest of rests"
    [class.selected]="rest.restID === selectedRest">
    <a [routerLink]="['/restaurant', rest.restID]">
      <span class="badge">{{rest.restID}}</span> {{rest.restName}}
    </a>
  </li>
</ul>


<!-- <div *ngIf="rest">

    <h2>{{selectedRest.restName | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedRest.id}}</div>
    <div>
      <label>restName:
        <input [(ngModel)]="selectedRest.restName" placeholder="restName"/>
      </label>
    </div>
  
  </div> -->




